@charset "utf-8";
/*
    verde: #49a09d
    lilas: #5f2c82
*/

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.362);
    transition: width .4s, height .4s;
    transition-timing-function: ease;
}

section#login div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/pexels-david-underland-3523621.jpg) no-repeat;
    height: 200px;
    background-size: cover;
}

section#login div#formulario{
    display: block;
    padding: 10px;
}

div#formulario h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario p{
    font-size: .8em;
}

form div.campo{
    background-color: #5f2c82;
    border-radius: 5px;
    margin: 5px 0px;
    width: 100%;
    display: block;
    height: 40px;

}

form label{
    display: none;
}

form input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form input[type=submit]:hover{
    background-color: #2c615f;
}

form a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #2c615f;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-decoration: none;
}

form a.botao:hover{
    background-color: #49a09d;
}

form a.botao span{
    font-size: .8em;
    
}